body {
    /* background-color: black !important; */
    transition: background-color 0.5s, color 0.5s;
}

.page_content {
    /* min-height: 500px; */
    /* border-bottom: 1px solid #dee2e6; */
}

.my-navbar {
    border-bottom: 1px solid #dee2e6;
    /* Adjust color as needed */
}

.footer {
    border-top: 1px solid #dee2e6;
}

.text-link {
    text-decoration-line: none;
    /* color: #FBFBFB; */
    border-bottom: 1px dotted;
}

.dark-mode {
    background-color: #333 !important;
    color: #fff !important;
}

.spinner {
    animation: spin infinite 5s linear;
    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}